<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>About - Garden Walkthrough Website Template</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div id="page">
		<div id="header">
			<a href="{{ url_for('index') }}" id="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
			<ul>
				<li>
					<a href="{{ url_for('index') }}">Home</a>
				</li>
				<li class="current">
					<a href="{{ url_for('about') }}">About</a>
				</li>
				<li>
					<a>Subscriptions</a>
					<ul>
						<li>
							<a href="{{ url_for('subscriptions') }}">Subscribe</a>
						</li>
						<li>
							<a href="{{ url_for('contact') }}">Subscriber Concerns</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div id="body">
			<div id="content">
				<h1>About</h1>
				<h3 class="first">Our Goal As a Company</h3>
				<p>
					Our goal is to clean up the world by getting rid of leftover food waste at restaurant's and eventually schools and other facilities. The other end of the goal is having quality compost for good farmers and greenhouses to purchase to give them better quality farming.
				</p>
				<h3>Why Would Someone Purchase Our Service?</h3>
				<p>
					Restaurant's do not want to deal with the food waste. This is where we come in. When you subscribe you will get a special garbage bin where your food waste goes and we will pick it up once every week, and than from there we will compost it.
				</p>
				<h3>Why Not Just Throw The Food Away?</h3>
				<p>
					There is many things wrong with doing this. First the food has to go somewhere, so where does it go? it goes to a landfill where it rots and causes a negative impact on the environment around it and it's inhabitants. But if you let it be recycled or in this case composted, it actually gets use and does not have any negative effects on the environment
				</p>
		</div>
		<div id="footer">
			<div>
				<div>
					<h1>Connect</h1>
					<a href="http://www.freewebsitetemplates.com/misc/contact" target="_blank" id="mail">Email us</a>
					<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" id="facebook">Facebook</a>
					<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" id="twitter">Twitter</a>
					<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" id="googleplus">Google&#43;</a>
				</div>
			</div>
			<p>
				Garden Walkthrough &copy; 2023  | All Rights Reserved
			</p>
		</div>
	</div>
	</div>
</body>
</html>