<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Garden Walkthrough Website Template</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div id="page">
		<div id="header">
			<a href="{{ url_for('index') }}" id="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
			<ul>
				<li class="current">
					<a href="{{ url_for('index') }}">Home</a>
				</li>
				<li>
					<a href="{{ url_for('about') }}">About</a>
				</li>
				<li>
					<a>Subscriptions</a>
					<ul>
						<li>
							<a href="{{ url_for('subscriptions') }}">Subscribe</a>
						</li>
						<li>
							<a href="{{ url_for('contact') }}">Subscriber Concerns</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div id="body">
			<div class="header">
				<div>
					<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/Composting.jpg') }}" alt="Image" style="width: 900px; height: 431px;"></a>
					<div>
						<h1><a>Composting</a></h1>
						<p>
							Farms have a multitude of needs for food compost, same with Greenhouses. Click the arrow to subscribe to our service where we will pick up your thrown out food if your a restaurant. <a href="subscriptions.html" class="continue"></a>
						</p>
					</div>
				</div>
				<h2>Why Would I Subscribe To This Service</h4>
				<ul>
					<li>
						<h3><a href="{{ url_for('index') }}">Helps Farms</a></h3>
						<p>
							The compost we make we sell to farms to give them the compost that they need for there farms.
						</p>
					</li>
					<li>
						<h3><a href="{{ url_for('index') }}">Helps Greenhouses</a></h3>
						<p>
							We also sell to greenhouses to help them aswell.
						</p>
					</li>
					<li class="last">
						<h3><a href="{{ url_for('index') }}">Helps Nature</a></h3>
						<p>
							Combined compost is much better for the enviorment when used in these scenarios.
						</p>
					</li>
				</ul>
			</div>
			<div class="body">
				<h1>What the compost is used for</h1>
				<ul>
					<li>
						<a><img class="CompEx" src="{{ url_for('static', filename='images/CompostEx1.jpg') }}" alt="Image"></a>
						<h2>Better soil in farms</h2>
						<p>
							Farmers lay the compost so that the soil gets richer making plants grow better.
						</p>
					</li>
					<li>
						<a><img class="CompEx" src="{{ url_for('static', filename='images/CompostEx2.jpg') }}" alt="Image"></a>
						<h2>Less work for farmers</h2>
						<p>
							With our service you would be helping farms get the compost so they can focus on farming.
						</p>
					</li>
					<li>
						<a><img class="CompEx" src="{{ url_for('static', filename='images/CompostEx3.jpg') }}" alt="Image"></a>
						<h2>Better soil in greenhouses</h2>
						<p>
							Greenhouses use the compost to also have better soil.
						</p>
					</li>
					<li>
						<a><img class="CompEx" src="{{ url_for('static', filename='images/CompostEx4.jpg') }}" alt="Image"></a>
						<h2>Less work for greenhouses</h2>
						<p>
							With our service you would be able to provide greenhouses with compost so they can work.
						</p>
					</li>
				</ul>
			</div>
			<div class="footer">
				<div>
					<h1>Fun Facts About composting</h1>
					<ol>
						<li>
							<p>
								Some species of birds also compost to get heat for incubating their eggs.
							</p>
						</li>
						<li>
							<p>
								A lot of things are compostible. So if your worried that it can not be composted, it probably can be.
							</p>
						</li>
						<li>
							<p>
								Composting can help break down contaminants in soil and water.
							</p>
						</li>
					</ol>
				</div>
			</div>
		</div>
		<div id="footer">
			<div>
				<div>
					<h1>Connect</h1>
					<a href="http://www.freewebsitetemplates.com/misc/contact" target="_blank" id="mail">Email us</a>
					<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" id="facebook">Facebook</a>
					<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" id="twitter">Twitter</a>
					<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" id="googleplus">Google&#43;</a>
				</div>
			</div>
			<p>
				Garden Walkthrough &copy; 2023  | All Rights Reserved
			</p>
		</div>
	</div>
</body>
</html>